@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    color: #000000;
}
.container{
    margin: 0 auto;
    max-width: 1230px;
    padding: 0 30px;
}

/* Header */

.header{
    background-color: #f1f1f1;
    padding-top: 46px;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 76px;
}
.logo{
    font-weight: 700;
    font-size: 32px;
    color:#000000;
    padding-right: 12px;
    padding-bottom: 3px;
    position: relative;
    line-height: 1;
}
.logo::after{
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: #fda300;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
}
.nav{

}
.nav-list{
    display: flex;
    column-gap: 50px;
    font-weight: 500;
    font-size: 14px;

}
.nav-link{
color:#000000;
}
.nav-link.active{
    color: #606060;
}
.header-row{
    display: flex;
    justify-content: space-between;
    column-gap: 30%;
}
.header-heading{
    font-weight: 600;
    font-size: 44px;

}
.header-content{
    max-width: 500px;
    margin-top: 124px;
}
.header-content p{
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    
}
.services{
padding: 90px 0;
}
.services-row{
display: flex;

column-gap: 30px;
}
.service-card{
    

}
.service-card-img{
    margin-bottom: 30px;

}
.service-card-title{
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;

}
.service-card p{
font-weight: 400;
font-size: 14px;
line-height: 2;
}

.portfolio{
    margin: 90px 0;
    background-color: #f1f1f1;

}
.portfolio-title{
    
    text-align: center;
  
    margin-bottom: 70px;

}
.title-1{
    font-weight: 600;
    font-size: 34px;
    line-height: 51px;
    color: #070707;

}
.project{
    text-align: center;
    

}
.project + .project{
    margin-top: 90px;
}
.project-img{
    margin-bottom: 40px;
}
.project-title{
font-weight: 400;
font-size: 18px;
line-height: 27px;
color:#070707;
}
.project-title a{
    color: #070707;
    text-decoration: underline;
}
.contacts{
padding: 90px 0;
text-align: center;
}
.contacts-title{
margin-bottom: 40px;

}
.contacts-content{
margin-bottom: 40px;
font-weight: 400;
font-size: 18px;
line-height: 27px;
}
.contacts-button{
margin-bottom: 87px;

}
.btn{
font-weight: 400;
font-size: 18px;
line-height: 27px;
color: #fff;
background-color: #070707;
border-radius: 30px;
padding: 7px 22px;
display: inline-block;
transition: background-color 0.2s ease-in, top 0.2s ease-in;
}
.btn:hover, .btn:focus{
    background-color: #323232;
}
.btn:active{
    position: relative;
    top: 1px;
    background-color: #000000;
}
.contacts-social{
margin-bottom: 41px;
display: flex;
justify-content: center;
column-gap: 60px;
align-items: center;
 
}

.contacts-footer {
font-weight: 400;
font-size: 14px;
line-height: 21px;
color: #828282;
}