@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    color: #000000;
}
.container{
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
}

.header{
    padding-top: 46px;
    background-color: #f1f1f1;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.logo{
    font-weight: 700;
    padding: 0 12px 3px 0;
    font-size: 32px;
    line-height: 1;
    color: #000000;
    position: relative;

}
.logo::after{
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: #FDA300;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
}
.nav-list{
display: flex;
column-gap: 50px;
font-weight: 500;
font-size: 14px;

}

.nav-link{
    color: #000000;
}
.nav-link.active{
    color: #606060;
}