@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 14px;
}
.container{
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
}

.header{
    padding-top: 46px;
    background-color: #f1f1f1;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 76px;
}
.logo{
    font-weight: 700;
    padding: 0 12px 3px 0;
    font-size: 32px;
    line-height: 1;
    color: #000000;
    position: relative;

}
.logo::after{
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: #FDA300;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
}
.nav-list{
display: flex;
column-gap: 50px;
font-weight: 500;
font-size: 14px;

}

.nav-link{
    color: #000000;
}
.nav-link.active{
    color: #606060;
}
.header-row{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}
.header-heading{
    font-weight: 600;
    font-size: 44px;
    color:#000000;
    margin-bottom: 20px;
}
.header-content p{
    font-weight: 400;
    line-height: 28px;
    
}
.header-content{
    max-width: 500px;
    margin-top: 124px;
}
.services{
padding: 90px 0;
}
.services-row{
display: flex;
column-gap: 30px;
}

.service-card-img{
margin-bottom: 30px;
}
.service-card-title{
font-weight: 600;
font-size: 24px;
line-height: 36px;
margin-bottom: 10px;
text-transform: uppercase;
}
.service-card p{
max-width: 370px;
font-weight: 400;
line-height: 28px;
}
.portfolio{
    background-color: #F1F1F1;
    padding: 90px 0;
    

}
.portfolio-title{
text-align: center;
margin-bottom: 70px;
}
.title-1{
font-weight: 600;
font-size: 34px;
line-height: 51px;
}
.project{
text-align: center;
}
.project-img{
margin-bottom: 40px;
}
.project-title{

font-weight: 400;
font-size: 18px;
line-height: 27px;
}
.project-title a{
    color:#000000;
    text-decoration: underline;
}
.project + .project{
    margin-top: 90px;
}
.contacts{
padding: 90px 0;
text-align: center;
}
.contacts-title{
font-weight: 600;
font-size: 34px;
line-height: 51px;

margin-bottom: 40px;
}
.contacts-content{
font-weight: 400;
font-size: 18px;
line-height: 27px;
margin-bottom: 40px;


}
.contacts-button{

margin-bottom: 80px;


}
.btn{
background-color: #070707;
display: inline-block;
padding: 7px 22px;
border-radius: 30px;
color: #fff;
font-size: 18px;
font-weight: 400;
transition: background-color 0.2s ease-in, top 0.2s ease-in;
}
.btn:hover, .btn:focus{
    background-color: #323232;
}
.btn:active{
background-color: #000000;
position: relative;
top: 1px;
}
.contacts-social{
    margin-bottom: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 60px;

}

.contacts-footer{
color: #828282;
font-weight: 400;
line-height: 21px;
}